:root{
    --bgColor:#fbfbfb;
    --bgNav:#052963;
    
    --brdr:#f1e7e7;

    --txtSize:1.125rem;
    --txtSizeNav:1.563rem;

    --txtColor90:#1c1c1c;
    --txtColorHover:#000;

    --bgNotice:rgb(231, 221, 199);
    --bgNotice2:rgb(221, 204, 167);
}

body{
    background-color: var(--bgColor);
    margin: 0 auto;
}

nav{
    width: 100%;
    height: 10%;
    background-color: var(--bgNav);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.img{
    padding-top: 0.5%;
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.header{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
}

.header a{
    border-top: 3px solid red!important;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    font-size:var(--txtSizeNav);
    color: var(--bgColor)!important;
    padding: 5px;
    line-height: 100%;
    text-decoration: none;
    transition:0.3s all ease-in-out;
}

.header a:hover{
    border-top: 3px solid orange!important;
    transition:0.3s all ease-in-out;
}


.spotlight{
    width: auto;
    margin-left: 5%;
    border: 1px solid var(--brdr);
}

h1{
    margin-left: 2%;
    color: var(--txtColor90);
    font-family: 'Times New Roman', Times, serif; 
}

main{
    width: 50%;
    height: auto;
    margin:auto;
}

.flexContainer{
    margin-top: 1%!important;
    margin: auto;
    width: 100%;
    height: 25%;
    background-color: var(--bgNotice2);
    border-top: 5px solid red;
    display: flex;
}

.txtFlex{
    width: 55%;
    padding: 1%;
}

h4{
    margin: 0px;
    line-height: 100%;
    color: var(--txtColor90);
    font-size: 1.875rem;
    font-family: 'Times New Roman', Times, serif;
    transition:0.3s all ease-in-out; 
}

.txtFlex p{
    color: var(--txtColor90);
    font-size: 1.23rem;
    font-family: 'Times New Roman', Times, serif;
    transition:0.3s all ease-in-out; 
}

.txtFlex:hover p{
    color: var(--txtColorHover);
    transition:0.3s all ease-in-out;
}

.txtFlex:hover h4{
    color: var(--txtColorHover);
    transition:0.3s all ease-in-out;
}


.imgFlex{
    width: 45%;
    background-image: url(../img/no1.jpg);
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: top;
}

.gridContainer{
    margin: auto;
    width: 100%;
}

.parent {
    margin-top:1%;
    margin-bottom:1%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 2 / 1 / 3 / 4; }
.div3 { grid-area: 3 / 1 / 4 / 4; }
.div4 { grid-area: 1 / 4 / 4 / 6; }

.brdRed{
    background-color: var(--bgNotice);
    border-top: 5px solid red;
    display: flex;
}

.brdBrown{
    display: flex;
    background-color: var(--bgNotice);
    border-top: 5px solid brown;
}

.brdCyan{
    background-color: var(--bgNotice2);
    border-top: 5px solid red;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.txtGrid{
    width: 55%;
    padding: 1%;
}

.txtGridCyan{
    height: 45%;
    width: 85%;
    padding: 1%;
}

h4{
    margin: 0px;
    line-height: 100%;
    color: var(--txtColor90);
    font-size: 1.875rem;
    font-family: 'Times New Roman', Times, serif;
    transition:0.3s all ease-in-out; 
}

.txtGrid p{
    color: var(--txtColor90);
    font-size: 1.23rem;
    font-family: 'Times New Roman', Times, serif;
    transition:0.3s all ease-in-out; 
}

.txtGrid:hover p{
    color: var(--txtColorHover);
    transition:0.3s all ease-in-out;
}

.txtGrid:hover h4{
    color: var(--txtColorHover);
    transition:0.3s all ease-in-out;
}

/*--El menu 2--*/

.txtGridCyan p{
    color: var(--txtColor90);
    font-size: 1.23rem;
    font-family: 'Times New Roman', Times, serif;
    transition:0.3s all ease-in-out; 
}

.txtGridCyan:hover p{
    color: var(--txtColorHover);
    transition:0.3s all ease-in-out;
}

.txtGridCyan:hover h4{
    color: var(--txtColorHover);
    transition:0.3s all ease-in-out;
}


.imgGrid{
    width: 45%;
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: top;
}

.img1{
    background-image: url(../img/no2.jpg);
}

.img2{
    background-image: url(../img/no3.jpg);
}

.img3{
    background-image: url(../img/no4.jpg);
}

.img4{
    width: 100%;
    height: 30%;
    background-image: url(../img/no5.jpg);
}

/*--MEDIA QUERIES--*/

@media screen and (max-width: 800px) {

    main{
        width: 90%;
    }

    /*--FLEX--*/

    .flexContainer{
        display: block;
    }

    .txtFlex,
    .imgFlex{
        width: 100%;
    }

    /*--GRID--*/

    .parent {
        margin-top:0%;
        margin-bottom:0%;

        display: block;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .div1, .div2, .div3, .div4 {
        grid-area: auto;
    }


    .txtGrid,
    .imgGrid{
        width: 100%;
    }

    .brdBrown{
        display: block;
    }

    .brdCyan{
        display: block;
    }

    .brdRed{
        display: block;
    }

}